nav.mb-1.navbar-noznoc.navbar.navbar-expand-lg.position-fixed.col-lg-12.pl-lg-5.pr-lg-5
	a.navbar-brand(href='/').ml-4 Julia Conzon
	button.navbar-toggler.first-button(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
		.animated-icon1
			span
			span
			span
		
	#navbar.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			li#about.nav-item.dropdown
				a.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
					| about
				.dropdown-menu.dropdown-default(aria-labelledby='about')
					a.dropdown-item.col-xs-1(href='/about#skills') skills
					a.dropdown-item.col-xs-1(href='/about#work') work
					a.dropdown-item.col-xs-1(href='/about#education') education
			li#projects.nav-item
				a.nav-link(href='/projects') projects
			li#blog.nav-item
				a.nav-link(href='/blog') blog
			li#docs.nav-item.dropdown
				a.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='/docs')
					| docs
				.dropdown-menu.dropdown-default(aria-labelledby='docs')
					a.dropdown-item(href='/docs/guide') guides
					a.dropdown-item(href='/docs/tutorial') tutorials
		ul.navbar-nav.ml-auto.nav-flex-icons
			li.nav-item.mr-lg-3.ml-lg-3
				a.nav-link.waves-effect.waves-light(href='https://github.com/Noznoc' target='_blank', aria-label='GitHub')
					i.icon.fa.fa-github-square.txt-mdm
			li.nav-item.mr-lg-3.ml-lg-3
				a.nav-link.waves-effect.waves-light(href='https://t.co/jMpBYPZXG0' target='_blank', aria-label='LinkedIn')
					i.icon.fa.fa-linkedin-square.txt-mdm
			li.nav-item.mr-lg-3.ml-lg-3
				a.nav-link.waves-effect.waves-light(href='https://twitter.com/julconz?lang=en' target='_blank', aria-label='Twitter')
					i.icon.fa.fa-twitter-square.txt-mdm
			li.nav-item.mr-lg-3.ml-lg-3
				a.nav-link.waves-effect.waves-light(href='https://www.openstreetmap.org/user/Noznoc' target='_blank', aria-label='OpenStreetMap')
					i.icon.fa.fa-globe.txt-mdm

	script.
		if ('#{id}' == 'about') {
			$('#about').addClass('active');
		} else if ('#{id}' == 'projects') {
			$('#projects').addClass('active');
		} else if ('#{id}' == 'blog' || '#{id}' == 'travel' || '#{id}' == 'geo' || '#{id}' == 'blog-post' ) {
			$('#blog').addClass('active');
		} else if ('#{id}' == 'docs' || '#{id}' == 'tutorial' || '#{id}' == 'guide' || '#{id}' == 'doc-post' ) {
			$('#docs').addClass('active');
		} else if ('#{id}' == 'home') {
			$('#home').addClass('active');
		}
		
		$('#about .nav-link').on('click', function(){
			window.location.replace('/about')
		})
		
		$('#docs .nav-link').on('click', function(){
			window.location.replace('/docs')
		})
		
		$('.dropdown').on('mouseover', function(){
			$(this).find('.dropdown-menu').show()
		})
		
		$('.dropdown').on('mouseleave', function(){
			$(this).find('.dropdown-menu').hide()
		})
		
		$(document).ready(function () {

		  $('.first-button').on('click', function () {

		    $('.animated-icon1').toggleClass('open');
		  });
		  $('.second-button').on('click', function () {

		    $('.animated-icon2').toggleClass('open');
		  });
		  $('.third-button').on('click', function () {

		    $('.animated-icon3').toggleClass('open');
		  });
		});
		

		(function($) {
		    var $window = $(window),
		        $nav = $('.navigation-site');
		        $nav_mobile = $('.navigation-mobile');

		    function resize() {
		        if ($window.width() < 750) {
		        	
		        	function all() {
		        		$('.navigation-site').hide();
		            	$('.navigation-mobile').show();
		            }

		            return all();

		        }
		        $nav.show();
		        $nav_mobile.hide();
		    }

		    $window
		        .resize(resize)
		        .trigger('resize');
		})(jQuery);
