.site-header
	.map-container
		#header-map.map
		#legend.legend
			h4
	ul.navigation.navigation-content
		li 
			a.icon(href='https://github.com/Noznoc', target='_blank', title='GitHub')
				i.fa.fa-github-square(aria-hidden='true')
		li
			a.icon(href='https://t.co/jMpBYPZXG0', target='_blank', title='LinkedIn')
				i.fa.fa-linkedin-square(aria-hidden='true')
		lis
			a.icon(href='https://twitter.com/julconz?lang=en', target='_blank', title='Twitter')
				i.fa.fa-twitter-square(aria-hidden='true')
		li
			a.icon(href='https://www.openstreetmap.org/user/Noznoc', target='_blank', title='OpenStreetMap')
				i.fa.fa-globe(aria-hidden='true')
		li#contact
			a.link-text(href='/contact') contact
		li.navigation-mobile
			a.link.icon
				i.fa.fa-bars(aria-hidden='true')
			.page-content
				a(href='/') home
				a(href='/about') about
				a(href='/projects') projects
				a(href='/blog') blog
				a(href='/docs') docs
				a(href='/contact') contact
	ul.navigation.navigation-site
		li#home 
			a(href='/') home
		li#about
			a(href='/about') about
			.page-content
				a(href='/about/#about-skills') skills
				a(href='/about/#about-work') work
				a(href='/about/#about-education') education
		li#projects 
			a(href='/projects') projects
		li#blog 	
			a(href='/blog') blog
			.page-content
				a(href='/blog/geo') geo
				a(href='/blog/travel') travel
		li#docs 
			a(href='/docs') docs
			.page-content
				a(href='/docs/guide') guides
				a(href='/docs/tutorial') tutorials
			
	script.
		if ('#{id}' == 'about') {
			$('#about').addClass('active');
		} else if ('#{id}' == 'projects') {
			$('#projects').addClass('active');
		} else if ('#{id}' == 'blog' || '#{id}' == 'travel' || '#{id}' == 'geo' || '#{id}' == 'blog-post' ) {
			$('#blog').addClass('active');
		} else if ('#{id}' == 'docs' || '#{id}' == 'tutorial' || '#{id}' == 'guide' || '#{id}' == 'doc-post' ) {
			$('#docs').addClass('active');
		} else if ('#{id}' == 'home') {
			$('#home').addClass('active');
		} else if ('#{id}' == 'contact') {
			$('#contact').addClass('active-underline');
		}

		(function($) {
		    var $window = $(window),
		        $nav = $('.navigation-site');
		        $nav_mobile = $('.navigation-mobile');

		    function resize() {
		        if ($window.width() < 750) {
		        	
		        	function all() {
		        		$('#contact').hide();
		        		$('.navigation-site').hide();
		            	$('.navigation-mobile').show();
		            }

		            return all();

		        }
		        $nav.show();
		        $nav_mobile.hide();
		        $('#contact').show();
		    }

		    $window
		        .resize(resize)
		        .trigger('resize');
		})(jQuery);