mixin post(title, subtitle, date, tags, link, page, id)
	.container.post#post
		.post-links.row.col-lg-4.pt-1
			.col-3.p-0
				a(href='/' + page + '/' + tags)
					button.button.tag.txt-sm.p-1.m-1= tags
			.col-2.clipboard.icon(data-clipboard-text='www.juliaconzon.com/' + page + '/' + link, title='Click to copy to clipboard').p-1
				i.fa.fa-share-square.button.tag.txt-sm(aria-hidden='true')
		- if (id !== 'blog-post' && id !== 'doc-post')
			a(href='/' + page + '/' + link).post-link
				h2.pt-2= title
				h3.txt-mdm=date
				- if (subtitle)
					h3.txt-mdm.subtitle= subtitle
				.post-text
					block content

				script. 
					$('.post').addClass('hover');
		- else
			h2.pt-2= title
			h3.txt-mdm=date
			h3.txt-mdm.subtitle= subtitle
			.post-text
				block content

mixin sidebar(sections, tutorials, id)
	.sidebar
		h2 Sections
		each s in sections	
			button(name='doc-' + s)= s
		- if (id !== 'tutorial')
			h2 Tutorials
			each t in tutorials	
				a(href='/docs/' + id)
					button= t
	script.
		sidebar();
		$('button').on('click', function () {
			var name = $(this).attr('name');
		    $('html, body').animate({
		        scrollTop: $('#' + name).offset().top
		    }, 1000);
		})
